/*
:root{
    --zss-green:#175817;
    --zss-gray:#505050;
    --zss-orange:#ffa700;
    --zss-purple:#a20ea0;
  }
*/

:root{
  --zss-theme-primary:#006100;
  --zss-theme-option:#690168;

  --content-fg-primary:white;
  --content-bg-card:rgba(50,50,50,0.5);
  
  --footer-fg-primary:white;
  --footer-bg-primary:rgba(50,50,50,0.5);

  --zss-green:#006100;
  --zss-gray:#3f3f3f;
  --zss-orange:#ffaf01;
  --zss-purple:#690168;
}