/*
:root{
    --zss-green:#175817;
    --zss-gray:#505050;
    --zss-orange:#ffa700;
    --zss-purple:#a20ea0;

    --content-bg-card:rgba(50,50,50,0.7);
  }
*/

 /*--zss-theme-primary:#006100;
  --zss-theme-option:#690168;
  */

:root{
 
  --zss-theme-primary:#109515;
  --zss-theme-option:#a50ca2;

  --header-border-toggle:darkgray;
  --header-fg-toggle:darkgray;

  --content-fg-primary:white;
  --content-bg-card:rgba(50,50,50,0.6);
  
  --footer-fg-primary:white;
  --footer-bg-primary:rgba(50,50,50,0.5);

  --zss-green:#006100;
  --zss-gray:#3f3f3f;
  --zss-orange:#ffaf01;
  --zss-purple:#690168;
}