

img.photo {
    border-radius: 50%;
    width:128px;
    height: 128px;
}

img.topic {
    width:128px;
    height: 128px;
    border-radius: 5px;
}


h1 {
    font-family: 'Goldman', sans-serif;    
    margin-top:60px;
    color:var(--content-fg-primary);
} 

h2 {
    font-family: 'Goldman', sans-serif;    
}

h3 {
      font-family: 'Goldman', sans-serif;    
      border-bottom: solid 1px var(--zss-theme-primary);
      width:100%;
}

h4 {
      font-family: 'Goldman', sans-serif;    
}

a {
    color:white;
}

a:hover {
    color:white;
}

body {
    font-family: 'Roboto', sans-serif;
}

hr.option {
    border-bottom: solid 1px var(--zss-theme-option);
}


p {
    line-height: 18pt;
}
 
input {
    background-color: var(--input-bg)!important;
    color: var(--input-fg)!important;
}

input:focus{
    background-color: var(--input-bg-focus)!important;
    color: var(--input-fg-focus)!important;
}

textarea {
    background-color: var(--input-bg)!important;
    color: var(--input-fg)!important;
}

textarea:focus {
    background-color: var(--input-bg-focus)!important;
    color: var(--input-fg-focus)!important;
}

button.primary {
    font-family: 'Roboto', sans-serif;
    background-color:var(--zss-theme-primary);
    border:solid 1px var(--zss-theme-primary);
    border-radius: 10px;
    color: white;
    font-size:16px;
    padding:5px;
    margin:5px;
}