div.panel {
    font-family: 'Roboto', sans-serif;
    color:var(--content-fg-primary);
    background-color:var(--content-bg-card);
    margin:0px;
}

div.panel.content {
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
    padding:5px;
    margin-top:50px;
}
 
 
div.panel.right {  
    margin-left:55%;  
}

div.panel.left {  
    margin-right:55%; 
}

div.panel.center { 
    text-align: center;
}

div.page {
    margin-left:50px;
    margin-right:50px
}

div.inline {
    display: inline-block;
    /* float:left; */    
}


@media screen and (max-width:768px) {
    div.panel.right { 
        margin-left:0px;
    }
    
    div.panel.left { 
        margin-right:0px;
    }
}

@media screen and (max-width:375px) {
    div.inline { 
        display: block;
    } 
}